// Colores de tipografia
$colorPrimario: #616f70;    
$colorSecundario: #02363D;

// Tipografias
$principal: 'Fira Sans', sans-serif;
$secundaria: 'Roboto', sans-serif;


// Colores de fondos
$gris: rgb(243, 243, 243);
$grisOscuro: rgb(197, 197, 197);